@tailwind base;
@tailwind components;
@tailwind utilities;

.lel{
  background-image: url('./assets/basa.jpg');
  mask-image: linear-gradient(transparent,rgba(0, 0, 0, 0.794),black,black,rgba(0, 0, 0, 0.891),transparent);
}
input[type='file']{

  display: none;

}
@media (max-width: 700px) {
  .lel {
    background-position: center 40%; /* Adjust the vertical position to move the image up */
    /* padding-top: 100px; */
  }
}